<ion-content [fullscreen]="true">
  <!-- <button class="btn" [routerLink]="['/select']" >Next</button> -->
  <div class="area">
    <section id="slideshow">

      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>

        <div class="entire-content">
          <div class="content-carrousel">
            <figure class="shadow"><img src="assets/img/html5.jpg" [routerLink]="['html']"  /></figure>
            <figure class="shadow"><img src="assets/img/css.jpg" [routerLink]="['css']" /></figure>
            <figure class="shadow"><img src="assets/img/js.jpg" [routerLink]="['javascript']" /></figure>
            <figure class="shadow"><img src="assets/img/ts.jpg" [routerLink]="['typescript']"/></figure>
            <figure class="shadow"><img src="assets/img/angular.jpg" [routerLink]="['angular']"/></figure>
            <figure class="shadow"><img src="assets/img/react.jpg" [routerLink]="['react']"/></figure>
          </div>
        </div>

        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
  </div>
</ion-content>