<ion-content class="auth-form">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-github"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up </button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Sign in</h1>
        <div class="social-container">
          <a (click)="authService.GoogleAuth()" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a (click)="authService.GitHubAuth()" class="social"><i class="fab fa-github"></i></a>
        </div>
        <span>or use your account</span>


        <div class="">
          <input #emaillogin type="text" formControlName="email" class="form-control" placeholder="Name"
            [ngClass]="{ 'is-invalid': submitted && formlogin['email'].errors }" />
          <div *ngIf="submitted && formlogin['email'].errors" class="invalid-feedback">
            <div *ngIf="formlogin['email'].errors['required']">Email is required</div>
            <div *ngIf="formlogin['email'].errors['pattern']">Email is invalid</div>
          </div>
        </div>

        <div class="">
          <input #passwordlogin type="password" formControlName="password" class="form-control" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && formlogin['password'].errors }" />
          <div *ngIf="submitted && formlogin['password'].errors" class="invalid-feedback">
            <div *ngIf="formlogin['password'].errors['required']">Password is required</div>
            <div *ngIf="formlogin['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="formlogin['password'].errors['maxlength']">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>






        <a href="#">Forgot your password?</a>
        <div class="form-group">

          <button type="submit" (click)="logIn(emaillogin, passwordlogin)" [disabled]="!(form.valid)">Sign In</button>

        </div>


      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>